body {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.center-content-style {
    max-width: 770px;
    padding-top: 30px;
    margin: 0 auto;
}

.container-body {
    background-color: #f6f6f6;
    margin-top: 20px;
    padding: 30px 50px 30px 50px;
    border-radius: 5px;
}

.container-body h2 {
    margin-bottom: 25px;
}

.note-element {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.note-element-drug {
    border-color: #bbb;
    border-radius: 5px;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.diagnos-body {
    margin-top: 25px;
    padding: 5px 20px 15px 20px;
    background: #eee;
    border-radius: 5px;
}

.diagnos-body h5 {
    font-weight: 900;
}

#alerts {
    margin-top: 20px;
}

#birthday {
    background-color: #fff;
}

.search-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

.dropdown-search {
    position: absolute;
    width: 100%;
    padding-right: 30px;
    z-index: 1;
}

.dropdown-search a {
    display: block;
    width: 100%;
    padding: 10px;
    background: #bfd1dd;
}

.dropdown-search a:hover {
    background: #aabcc8;
}