.form-style {
    max-width: 430px;
    margin: 0 auto;
}

.form-style .checkbox {
    margin-bottom: 10px;
}

.form-style .checkbox {
    font-weight: normal;
}

.form-style .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.top-field-group:focus {
    z-index: 2;
}

.top-field {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.top-field-group .input-group-addon {
    border-bottom-left-radius: 0;
}

.center-field-group {
    margin-top: -1px;
}

.center-field-group:focus {
    z-index: 2;
}

.center-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.center-field-group .input-group-addon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bottom-field {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottom-field-group {
    margin-top: -1px;
    margin-bottom: 10px;
}

.bottom-field-group .input-group-addon {
    border-top-left-radius: 0;
}

.btn-register {
    background-color: #1CB94E;
    color: #fff;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.btn-register:focus:active {
    color: #fff !important;
    background-color: #1a9846 !important;
    border-color: #1b8e45 !important;
}

.form-select {
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /*Removes default style Firefox*/
    background: url("/static/images/downArrow.png") no-repeat right #fff;
}
